---
import { technologies } from "../../assets/data";

const { expanded } = Astro.props;
---

<section id="technologies" class="py-12">
  {
    expanded && (
      <h2 class="container font-secondary mb-20 text-5xl text-center">
        Technologies & Skills
      </h2>
    )
  }

  <div class="technologies text-center">
    {
      expanded == true && (
        <div class="container flex flex-col items-center gap-16">
          {Object.entries(technologies).map(([key, value]: [string, any[]]) => (
            <div>
              <h3 class="font-medium mb-4">{key}</h3>
              <div class="flex gap-4 lg:gap-8 justify-center flex-wrap">
                {value.map((icon: { name: string; url: string }) => (
                  <div class="flex flex-col items-center">
                    <img src={icon.url} alt={icon.name} class="h-16" />
                    <p>{icon.name}</p>
                  </div>
                ))}
              </div>
            </div>
          ))}
        </div>
      )
    }

    {
      expanded == false && (
        <div class="scroll-container">
          <div class="scroll-content">
            {Object.keys(technologies).map((key: string) =>
              technologies[key].map((icon: { name: string; url: string }) => (
                <img
                  src={icon.url}
                  alt={icon.name}
                  class="h-16 w-16 inline-block mx-12"
                />
              ))
            )}
            {Object.keys(technologies).map((key: string) =>
              technologies[key].map((icon: { name: string; url: string }) => (
                <img
                  src={icon.url}
                  alt={icon.name}
                  class="h-16 w-16 inline-block mx-12"
                />
              ))
            )}
          </div>
        </div>
      )
    }
  </div>
</section>

<style>
  .scroll-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }

  .scroll-content {
    @apply inline-block;
    animation: scroll 45s linear infinite;
    width: max-content;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>
