---
export interface ProjectInterface {
  name: string;
  slug: string;
  repoName: string;
  description: string;
  image: any;
  logo?: string;
  status: string;
  linkToProject: string;
  hasCoverImage: boolean;
  hidden: boolean;
}

const { project: progetto } = Astro.props;
---

<a
  href={`progetti/${progetto.slug}`}
  class="sticky sticky-project top-24 bg-[var(--bg-color)] border border-[#d7d7d2] rounded-xl"
>
  <div class="w-full relative flex flex-col lg:flex-row gap-8 p-4">
    <div class="w-full lg:w-1/2">
      <div class="flex items-center uppercase text-sm mb-4">
        <span
          class={`rounded-full inline-block w-2 h-2 shadow-lg mr-2 ${
            progetto.status === "Active"
              ? "bg-green-400"
              : progetto.status === "In Progress"
                ? "bg-yellow-400"
                : progetto.status === "Demo"
                  ? "bg-blue-400"
                  : "bg-red-400"
          }`}
        >
        </span>
        {progetto.status}
      </div>

      <h3 class="font-bold">{progetto.name}</h3>
      <p class="">{progetto.description}</p>
    </div>

    <div class="relative w-full lg:w-1/2">
      {
        progetto.hasCoverImage == false && (
          <h3 class="absolute top-[50%] left-[50%] text-center transform translate-y-[-50%] translate-x-[-50%] text-3xl text-black opacity-30 font-bold tracking-wider">
            {progetto.name}
          </h3>
        )
      }
      <img src={progetto.image} alt={progetto.name} />
    </div>
  </div>
</a>
