---
export interface ProjectInterface {
  name: string;
  slug: string;
  repoName: string;
  description: string;
  image: any;
  logo?: string;
  status: string;
  linkToProject: string;
  hidden: boolean;
}

const { project: progetto } = Astro.props;
---

<div class="projects--item">
  <div
    class="flex items-center absolute z-10 top-2 right-2 text-white uppercase text-sm"
  >
    <span
      class={`rounded-full inline-block w-2 h-2 shadow-lg mr-2 ${
        progetto.status === "Active"
          ? "bg-green-400"
          : progetto.status === "In Progress"
            ? "bg-yellow-400"
            : progetto.status === "Demo"
              ? "bg-blue-400"
              : "bg-red-400"
      }`}
    >
    </span>
    {progetto.status}
  </div>

  {
    progetto.image == "" && (
      <h3 class="absolute top-[50%] left-[50%] text-center transform translate-y-[-50%] translate-x-[-50%] text-3xl text-black opacity-30 font-bold tracking-wider">
        {progetto.name}
      </h3>
    )
  }
  <img
    src={progetto.image != ""
      ? progetto.image
      : "/images/projects/temporary-banner.png"}
    alt={progetto.name}
  />

  <button class="projects--info-overlay">
    <h3 class="project--title font-bold">{progetto.name}</h3>
    <p class="project--description">{progetto.description}</p>
  </button>
</div>
